* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

body {
    background-color: #F2F2F2;
    width: 100vw;
    height: 100vh;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.panel__name {
    font-size: 4rem;
    text-transform: uppercase;
    color: #d52b1e;
}

.panel__text {
    text-align: center;
    padding: 10vh 0;
    line-height: 2rem;
}

.form.show{
    display: flex;
}

.form__container {
    display: flex;
    flex-direction: column;
    padding: 2vh;
}

.form__input {
    padding: 2vh;
}

.form__label {
    padding-bottom: 1vh;
}

.panel__end.show{
    margin: 0 auto;
    /* justify-content: center; */
    /* display: flex; */
    /* flex-direction: column; */
}

.newItem {
    display: none;
}

.newItem input {
    padding: 2vh;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.btn-red{
    background-color: #d52b1e;
    border: none;
    padding: 3vh 5vh;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    cursor: pointer;
}
.panel__end{
    display: flex;
    flex-direction: column;
}

/* .thx{
    text-align: center;
    padding-bottom: 5vh;
} */

