* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

body {
    background-color: #eee;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.panel__name {
    font-size: 4rem;
    text-transform: uppercase;
    color: red;
}

.panel__text {
    text-align: center;
    padding: 10vh 0;
    line-height: 2rem;
}

.form.show{
    display: flex;
}

.form__container {
    display: flex;
    flex-direction: column;
    padding: 2vh;
}

.form__input {
    padding: 2vh;
}

.form__label {
    padding-bottom: 1vh;
}

.newItem {
    display: none;
}

.newItem input {
    padding: 2vh;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.btn-red{
    background-color: red;
    border: none;
    padding: 3vh 5vh;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    cursor: pointer;
}