* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

:root{
    --bgc-color: #f2f2f2;
    --btn--color: #d52b1e;
}

body {
    background-color: var(--bgc-color);
    font-family: 'Spartan', sans-serif;
}

button{
    color: white;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 2vh;
}

.name {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--btn--color);
}

.text {
    text-align: center;
    padding: 3vh 0;
    line-height: 2rem;
}

.form.show{
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 2vh;
}

.form-input {
    padding: 2vh;
}

.form-label {
    padding-bottom: 1.2vh;
}

.btn-red{
    background-color: var(--btn--color);
    border: none;
    padding: 3vh 7vh;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.newItem.show{
    display: flex;
    flex-direction: column;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.panel__end{
    display: flex;
    flex-direction: column;
}

.newItem input{
    margin-bottom: 3vh;
    color: white;
}

@media(orientation:landscape){
    .form.show{
        flex-direction: row;
    }
    .newItem.show{
        flex-direction: row;
    }
    .newItem input{
        margin: 0 3vh;
    }
}